.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #262626;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}


/* global.css */

.wrapperGameCard {
  display: flex;
  position: absolute;
  top: 3%;
  left: 50%;
  flex-direction: column;
  width: 25%;
  min-width: 200px;
  height: 10%;
  box-sizing: border-box;
  color: black;
  z-index: 2;
}

.wrapperSettings {
  display: flex;
  position: absolute;
  top: 2.5%;
  left: 40%;
  flex-direction: column;
  width: 25%;
  min-width: 200px;
  height: 10%;
  box-sizing: border-box;
  color: black;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 200px;
  height: 10%;
  box-sizing: border-box;
}

.toast {
  background: #f2f2f2;
  position: relative;
  width: 100%;
  border-radius: 0.5em;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  box-sizing: border-box;

}

.statisticsComponent {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}

.statisticsHeader {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 40px;
  color: white;
}

.totalGames {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chartTitle {
  margin-bottom: 20px;
}

.chart {
  padding: 100px;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.toast.show {
  opacity: 1;
}

.toast.hide {
  opacity: 0;
}

.toast.success {
  border-left: 3.5px solid #4070f4;
}

.toast.warning {
  border-left: 3.5px solid yellow;
}

.toast.failure {
  border-left: 3.5px solid red;
}

.toast .progressBar::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 100%;
}

.toast .progressBar.success::after {
  background: #4070f4;
}

.toast .progressBar.warning::after {
  background: yellow;
}

.toast .progressBar.failure::after {
  background: red;
}

.progressBar.active::after {
  animation: progress 5s linear forwards;
  transform-origin: left;
}

.progressBar.inactive {
  transform: scaleX(0);
}

@keyframes progress {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.icon.success {
  background-color: #4070f4;
  color: white;
  border-radius: 50%;

}

.icon.warning {
  background-color: yellow;
}

.icon.failure {
  background-color: white;
  color: red;
}

.close {
  opacity: 0.7;
  margin-left: auto;
}

.close:hover {
  opacity: 1;
  cursor: pointer;
}

.message {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  padding: 1em;
}


.toast.hide {
  opacity: 0;
}



.MainContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 86%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.routes {
  flex: 1;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 46%;
  width: 30%;
  min-width: 300px;
  min-height: 500px;
  max-width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}

.card.signup {
  justify-content: space-evenly;
}

.card.login {
  justify-content: space-around;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 25%;
}

.header {
  margin: 0;
  padding: 0;
}

.card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center form elements horizontally */
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* Ensure inputs container takes full width of the form */
  box-sizing: border-box;
  gap: 12px;
  margin-bottom: 20px;
}

.input {
  display: flex;
  align-items: center;
  background: #eaeaea;
  height: 55px;
  width: 100%;
  /* Take full width of the container */
  border-radius: 6px;
  border: 1px solid black;
  box-sizing: border-box;
}

.input .img {
  margin: 0px 30px;
}

.input input {
  height: 100%;
  /* Full height of the input container */
  width: 100%;
  /* Full width of the remaining space in the input container */
  background: transparent;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 0;
  margin: 0;
}

.form-button {
  font-size: 14px;
  font-family: 'Raedex Pro', sans-serif;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  background-color: #155EEF;
  color: white;
  height: 40px;
  box-sizing: border-box;
}

.form-button.settings {
  width: 20%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 95%;
  left: 50%
}

.form-button:hover {
  cursor: pointer;
}

.registerError {
  color: red;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}


.icons {
  flex: 30%;
}

.sideBar {
  background-color: #333333;
  width: 14%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 100px;
}

.sideBar .middleNavigation {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  /* Center vertically */
}

.sideBar .list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.sideBar .row {
  display: flex;
  width: 100%;
  list-style-type: none;
  color: white;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.sideBar .bottomNavigation {
  transform: translateY(-50px);
}

.sideBar .signupLogin {
  margin-left: 20px;
  width: 60%;
}

.sideBar .row-active {
  background-color: #666666;
}

.sideBar .row:hover {
  cursor: pointer;
  background-color: #666666;
}

.sideBar .row .navlinks {
  text-decoration: none;
  color: white;
  width: 100%;
  cursor: pointer;
}

.sideBar .bottomNavigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.active-link {
  text-decoration: underline;
}

.sideBar .signupLogin .links {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.sideBar .bottomLinks {
  transform: translateX(-5px);
}

.settingsBig {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 75%;
  background-color: #4D4D4D;
  color: #FFFFFF;
  padding: 50px;
  justify-content: center;
  position: relative;
}

.collectionComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;

}

.acctForm {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
  justify-content: flex-start;
  /* Ensure space between sections */
}

.content {
  display: none;
  height: 100%;
  justify-content: space-around;
}

.active-content {
  display: flex;
  flex-direction: column;
}


.tabContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #2C2C2C;
  opacity: 90%;
  height: 7%;
  width: 100%;
  align-items: center;
  margin-top: 25px;
}

.tabs {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.active-tab {
  background-color: #3A3A3A;
  border-bottom: 2px solid white;
  color: #CCCCCC;
  box-sizing: border-box;
  height: 100%;
}

.settingsHeader {
  font-size: 50px;
}

.settingsParagraph {
  font-size: 20px;
}

.bar {
  border-bottom: 1px solid black;
  display: block;
}

.label1 {
  font-weight: bold;
  font-size: 35px;
}

.userNameContainer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.leftUserNameContainer {
  display: flex;
  align-items: center;

}

.userNameValidation {
  font-size: 20px;
}

.emailContainer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.leftEmailContainer {
  display: block;
}

.acctUsernameText {
  font-size: 20px;
}

.emailValidation {
  font-size: 20px;
}

.acctEmailText {
  font-size: 20px;
}

.label2 {
  font-weight: bold;
  font-size: 35px;
}

.label3 {
  font-weight: bold;
  font-size: 35px;

}

.leftPasswordContainer {
  display: block;
}

.acctPasswordText {
  font-size: 20px;
}

.passwordContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;

}

.passwordValidation {
  font-size: 18px;
}

.rightUserNameContainer {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.rightEmailContainer {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.rightPasswordContainer {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: center;
}

.favoriteGenreContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.leftFavoriteGenreContainer {
  display: block;
}

.acctFavoriteGenreLabel {
  font-weight: bold;
  font-size: 35px;

}

.acctFavoriteGameLabel {
  font-weight: bold;
  font-size: 35px;
}

.favoriteGameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.leftFavoriteGameContainer {
  display: block;

}

.acctFavoriteGameText {
  font-size: 20px;
}

.acctFavoriteGenreText {
  font-size: 20px;
}

.acctFirstNameText {
  font-size: 20px;
}

.acctLastNameText {
  font-size: 20px;
}

.acctBirthdayText {
  font-size: 20px;
}

.acctProfilePictureLabel {
  font-weight: bold;
  font-size: 35px;
}


.profilePictureContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.rightProfilePictureContainer {
  display: flex;
  width: 12%;
  flex-direction: column;
}

.rightProfilePictureContainer img {
  display: flex;
  width: 100%;
  height: 100%;
}
  
.acctProfilePicture {
  margin-bottom: 10px;
}

.firstNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftFirstNameContainer {
  display: block;
}

.acctFirstNameLabel {
  font-weight: bold;
  font-size: 35px;
}

.acctLastNameLabel {
  font-weight: bold;
  font-size: 35px;
}

.acctBirthdayLabel {
  font-weight: bold;
  font-size: 35px;
}

.leftLastNameContainer {
  display: block;

}

.lastNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.birthdayContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.collectionHeader {
  margin-left: 40px;
}

.filterText {
  color: white;
  margin-left: 40px;
  margin-top: 10px
}

.searchHeader {
  margin-left: 20px;
}

.interactable {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}


.platformItems {
  list-style: none;
  font-size: 1rem;
  font-family: 'Kanit', sans-serif;
}

.search {
  display: flex;
  height: 40%;
  /* Make the search container take full width */
  justify-content: flex-start;
  padding: 20px;
  min-height: 45px;
  width: 39vw;
  margin-left: 20px;
}

.filter {
  display: flex;
  height: 40%;
  /* Make the search container take full width */
  padding: 20px;
  min-height: 45px;
  width: 15vw;
}

.collectionFilter {
  display: flex;
  height: 40%;
  /* Make the search container take full width */
  padding: 20px;
  min-height: 45px;
  width: 22vw;
  min-width: 200px;
  margin-left: 20px;
}

.gameInfo {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid green;
  flex: 1;
  position: absolute;
}

.trashCan {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;

}

.filterComponent svg {
  padding: 10px;
}

.collectionFilter input {
  flex: 1;
  /* Allow the input to grow and take available space */
  padding: 10px;
  /* Add padding for a bigger feel */
  font-size: 16px;
  /* Adjust font size for better readability */
  border: 1px solid #ccc;
  /* Add a border */
  border-radius: 10px;
  /* Optional: add rounded corners */
}

.filterComponent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  padding: 20px;
  margin-left: 20px;
  position: fixed;
  flex-wrap: wrap;
  width: 82%;
  height: 88%;
  left: 14%;
  top: 8%;
  background-color: #555;
  opacity: 97%;
  border-radius: 2em;
  overflow: auto;
}

.filterGenreContainer,
.filterPlatformContainer {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.filter input {
  flex: 1;
  /* Allow the input to grow and take available space */
  padding: 10px;
  /* Add padding for a bigger feel */
  font-size: 16px;
  /* Adjust font size for better readability */
  border: 1px solid #ccc;
  /* Add a border */
  border-radius: 10px;
  /* Optional: add rounded corners */
}

.filterForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filterSvgContainer {
  display: flex;
  align-items: center;
  height: 100%;
  right: 40px;
  position: relative;
  cursor: pointer;
  color: black;
}

.filterButton {
  display: flex;
  justify-content: center;
  align-content: center;
}


.search input {
  flex: 1;
  /* Allow the input to grow and take available space */
  padding: 10px;
  /* Add padding for a bigger feel */
  font-size: 16px;
  /* Adjust font size for better readability */
  border: 1px solid #ccc;
  /* Add a border */
  border-radius: 10px;
  /* Optional: add rounded corners */
}

.search svg {
  position: relative;
  right: 40px;
  /* Position the icon 10px from the right */
  transform: translateY(10%);
  /* Adjust to vertically center */
  cursor: pointer;
}

.search button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.gamecover {
  display: flex;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.gamecard {
  display: flex;
  position: fixed;
  width: 86%;
  height: 100vh;
  left: 14%;
  /* Positioning it to the right of the sidebar */
  min-width: 1200px;
  background-color: #555;
  padding: 30px;
  border-radius: 2em;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  justify-content: space-around;
  box-sizing: border-box;
  min-height: 600px;
}

.genreHeader {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}

.platformHeader {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
}

.gamecard .coverContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  height: 100%;
  overflow-y: auto;
}

.gamecard .miscallenous {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 10px;
  padding-left: 10px;
}

.gamecard .genreItems {
  list-style-type: none;
  font-size: 1em;
  font-weight: 100;
  font-family: 'Kanit', sans-serif;
}

.gamecard .coverContainer img {
  height: 50%;
  max-width: 500px;
  object-fit: cover;
  border-bottom: 2px solid white;
}

.gamecard .releaseDateContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.gamesList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;

}

.gameWrapper {
  display: flex;
  flex-direction: column;
  color: white;
  width: 300px;
  height: 400px;
  align-items: center;
  padding: 5px;
  position: relative;
}

.gameWrapper:hover .gamecover {
  opacity: 0.5;
}

.gamecover {
  cursor: pointer;
}

.gameWrapper:hover .gameInfo {
  display: flex;
}

.gameInfo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  flex-direction: column;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.collectionGames {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: 20px;
}

.searchHeader {
  color: white;
  padding-left: 20px;
}

.searchQuery {
  display: flex;
  width: 100%;
  height: 10%;

}

.screenshot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.screenshot img {
  display: flex;
  width: 100%;
  height: auto;
}

.genreContainer {
  padding-bottom: 40px;
  font-weight: 500;
}

.rightSide {
  display: flex;
  width: 70%;
  padding: 20px 50px;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
  border: 2px solid white;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  overflow-x: auto;

}

.info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 60%;
  position: relative;
  align-items: center;
}

.addButton {
  font-size: 14px;
  font-family: 'Raedex Pro', sans-serif;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  background-color: #155EEF;
  color: white;
  height: 60px;
  width: 15%;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;

  align-items: center;
  min-width: 185px;
}

.clearFilterButton {
  font-size: 14px;
  font-family: 'Raedex Pro', sans-serif;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  background-color: #155EEF;
  color: white;
  width: 15%;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 185px;
  margin-left: 40px;
  margin-top: 20px;
  height: 5%;
}
.filterHeaders {
  color: white;
  padding-left: 20px;

}

.nameHeader {
  font-size: 2em;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  box-sizing: border-box;
  padding-top: 10px;
}

.nameHeader {
  display: flex;
  justify-content: center;
}

.screenshotContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 35%;
  height: 100%;
}

.addContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
  box-sizing: border-box;
}

.itemCondition {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.itemConditionContainer {
  position: relative;
  /* Ensure relative positioning for absolute child */
  border: 1px solid white;
  /* Adjust border styling */
  height: 4em;
  width: 12em;
  margin: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.itemConditionContainer input {
  position: absolute;
  /* Hide the radio button visually */
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
}

.platformFilter {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}



.platformFilter {
  position: relative;
  /* Ensure relative positioning for absolute child */
  border: 1px solid white;
  /* Adjust border styling */
  height: 4em;
  width: 10em;
  margin: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.radio-label-console {
  font-size: 0.75rem;
}

.radio-label {
  font-size: 1rem;
}

.platformFilter input {
  position: absolute;
  /* Hide the radio button visually */
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
}

.radioTile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #686868;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  box-sizing: border-box;

}

/* Style when the radio button is checked */
.itemConditionContainer input[type="radio"]:checked+.radioTile {
  background-color: black;
  color: white;
  /* Adjust text color for visibility if needed */
}

/* Hover effect for the radio button */
.itemConditionContainer input[type="radio"]:hover+.radioTile {
  background-color: darkgray;
  /* Example: Change color on hover */
}

/* Style when the radio button is checked */
.platformFilter input[type="checkbox"]:checked+.radioTile {
  background-color: black;
  color: white;
  /* Adjust text color for visibility if needed */
}

/* Hover effect for the radio button */
.platformFilter input[type="checkbox"]:hover+.radioTile {
  background-color: darkgray;
  /* Example: Change color on hover */
}

@media (max-height: 1080px) {
  .rightSide {
    padding: 10px;
    margin: 5px;
  }

  .addButton {
    height: 35px;
  }

  .itemConditionContainer {
    height: 3rem;
    width: 9rem;
  }

  .nameHeader {
    font-size: 1em;
  }

  .summaryContainer {
    font-size: 0.75rem;
  }

  .coverContainer img {
    max-width: 100%;
    /* Ensure the image fits within the container */
    height: auto;
  }
}


.ratingContainer {
  display: flex;
  height: 40px;
  width: 40px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  font-family: 'Anton';
  position: absolute;
  right: 0;
  box-sizing: border-box;
}

.rightArrow,
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  /* Add cursor pointer for usability */
}

.rightArrow {
  right: 0;
  /* Position to the right edge */
}

.leftArrow {
  left: 0;
  /* Position to the left edge */
}

.paginationDots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.dots {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  /* Adjust spacing between dots */
  cursor: pointer;
}

.dots.active {
  background-color: #333;
  /* Active dot color */
}

.closeModal {
  cursor: pointer;
  color: #CCCCCC;
}

.closeFilter {
  display: flex;
  cursor: pointer;
  color: #CCCCCC;
  position: absolute;
  right: 0;
  padding: 10px;

  top: 0;
}